.spinner {
  width: 75px;
  height: 75px;
  border: 10px solid rgba(128, 128, 128, 0.1);
  border-top-color: darkred;
  animation: spinner 1s infinite forwards linear;
  margin: 50px auto;
  border-radius: 50%;
}

@keyframes spinner {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
